*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(188, 251, 188);
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 1rem rgb(125, 124, 124);
    font-size: 8vmin;
    color: rgba(246, 40, 68, 0.885);
    background-color: rgb(192, 253, 233);
}

#resetbtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: green;
    color: white;
    border-radius: 1rem;
    border: none;
}

#newbtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: green;
    color: white;
    border-radius: 1rem;
    border: none;
    margin-left: 20px;
}

#msg{
    color: rgb(230, 53, 17);
    font-size: 7vmin;
}

.msg-cont{
    height: 10vmin;
}

.hide{
    display: none;
}